@model EventEase.Models.Event

@{
    ViewData["Title"] = "Delete Event";
}

<h1>Delete Event</h1>
<div class="alert alert-danger">
    <strong>Warning!</strong> Are you sure you want to delete this event?
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-danger text-white">
                <h4>@Model.EventName</h4>
            </div>
            <div class="card-body">
                <img src="@Model.ImageURL" class="img-fluid rounded mb-3" style="max-height: 200px; width: 100%; object-fit: cover;" onerror="this.src='https://picsum.photos/id/0/400/200'" />

                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.EventName)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.EventName)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.EventDate)
                    </dt>
                    <dd class="col-sm-8">
                        @Model.EventDate.ToString("MMMM dd, yyyy")
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.EventDescription)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.EventDescription)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="EventId" />
                    <input type="submit" value="Confirm Delete" class="btn btn-danger" />
                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>